.dropdown {
  font-size: 16px;
  margin-left: 10px;
  &.show .dropdown__list {
    transform: scale(1, 1);
  }
  &__container {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background: #fff;
    height: 40px;
    cursor: pointer;
    &.clicked {
      background: #f5f6f7;
    }
    * {
      float: left;
      height: 40px;
      line-height: 40px !important;
      display: inline-block;
      vertical-align: middle;
    }
    &__selected {
      width: 65px;
      padding: 0 0 0 20px;
      box-sizing: border-box;
    }
    &__arrow {
      margin: 0 0 0 7px;
      box-sizing: border-box;
      width: 40px;
    }
    &__arrow.up {
      background: url("../../img/fa-angle-down.png") no-repeat left center;
    }
    &__arrow.down {
      background: url("../../img/fa-angle-up.png") no-repeat left center;
    }
  }
  &__list {
    float: left;
    position: relative;
    width: 100%;
    transform: scale(1, 0);
    transition: transform ease 250ms;
    &__box {
      position: absolute;
      width: 100%;
      z-index: 2;
      cursor: pointer;
      background: #f5f6f7;
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
      &__item {
        float: left;
        width: 100%;
        padding: 0 0 0 20px;
        box-sizing: border-box;
        border-top: none;
        &:hover {
          background: #F0F0F0;
        }
        &.selected {
          background: #2875C7;
          color: white;
        }
        * {
          height: 40px;
          line-height: 40px !important;
          display: inline-block;
          vertical-align: middle;
        }
        span {
          float: left;
          width: 100%;
        }
      }
    }
  }
}
